* {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}

li {
  list-style: none;
}

/* 헤더 */
header {
  padding: 0 16px;
  width: 100%;
    position: fixed;
  background-color: white;
}

header .header_i {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px;
  gap: 110px;
}

header .header_i .gnb {
  display: flex;
  flex: 1;
  justify-content: space-around;
}
header .header_i .gnb li {
  font-weight: 600;
  font-size: 18px;
}

header .header_i .header_btn {
  position: relative;
  border: 1px solid rgb(218, 218, 218);
  border-radius: 15px;
  display: flex;
  background-color: white;
  padding: 2px;
  width: 110px;
  height: 34px;
  overflow: hidden;
}

header .header_i .header_btn button {
  position: relative;
  z-index: 2;
  border: none;
  flex: 1;
  border-radius: 15px;
  background: transparent;
  color: rgb(181, 181, 181);
  cursor: pointer;
  user-select: none;
}

header .header_i .header_btn button.active {
  color: #fff;
  font-weight: 600;
}

header .header_i .header_btn .slide {
  position: absolute;
  top: 2px;
  left: 2px;
  width: calc(50% - 4px);
  height: calc(100% - 4px);
  background-color: rgb(253, 207, 0);
  border-radius: 15px;
  transition: transform 0.3s ease;
}

header .header_i .header_btn .slide.left {
  transform: translateX(0);
}

header .header_i .header_btn .slide.right {
  transform: translateX(100%);
}

header .header_i .ham_btn {
  font-size: 30px;
  font-weight: 600;
  display: none;
}

@media screen and (max-width: 1200px) {
  header .header_i .gnb,
  header .header_i .header_btn {
    display: none;
  }
  header .header_i .ham_btn {
    display: block;
  }
}

/* 메뉴 */
.menu{
  padding-top: 100px ;
}

.menu .menu_img {
  height: 399px;
  background-image: url("./bhc/main_bg.png");
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu .menu_img .menu_title {
  font-size: 100px;
  color: #fff;
}

.menu .menu_content {
  padding: 100px 16px;
}

.menu .menu_content .menu_content_i {
  max-width: 1200px;
  margin: 0 auto;
}

.menu .menu_content .menu_content_i .menu_nav {
  display: flex;
  gap: 20px;
  font-weight: 600;
  font-size: 19px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.menu .menu_content .menu_content_i .menu_nav li {
  padding: 10px 20px;
  border-radius: 25px;
}

.menu .menu_content .menu_content_i .menu_nav li.active {
  background-color: #000;
  color: #fff;
}

.menu .menu_content .menu_content_i .menu_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.menu .menu_content .menu_content_i .menu_container .menu_item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu .menu_content .menu_content_i .menu_container .menu_item h3 {
  font-size: 25px;
}

.menu .menu_content .menu_content_i .menu_container .menu_item p {
  font-size: 20px;
  font-weight: 600;
  color: rgb(253, 207, 0);
}

@media screen and (max-width: 680px) {
  .menu .menu_content .menu_content_i .menu_container {
    grid-template-columns: 1fr;
  }
}

/* 창업 */
.startup{
  padding-top: 100px ;
}

.startup .startup_img {
  height: 970px;
  background-image: url("./bhc/sub_bg.png");
  background-position: center;
}

.startup .startup_content {
  padding: 200px 16px;
}

.startup .startup_content .startup_content_i {
  margin: 0 auto;
  max-width: 1200px;
}

.startup .startup_content .startup_content_i .sec {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.startup .startup_content .startup_content_i .sec > h3 {
  font-size: 70px;
  font-weight: 800;
  margin-bottom: 30px;
  text-align: center;
}
.startup .startup_content .startup_content_i .sec > h3 .startup_br {
  display: none;
}
.startup .startup_content .startup_content_i .sec > p {
  font-size: 21px;
  color: #686868;
  margin-bottom: 70px;
}

.startup .startup_content .startup_content_i .first {
  margin-bottom: 200px;
}

.startup .startup_content .startup_content_i .first .first_con {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  gap: 30px;
}
.startup .startup_content .startup_content_i .first .first_con .first_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(35, 25, 23);
  border-radius: 20px;
  color: #fff;
  padding: 70px 0;
}
.startup .startup_content .startup_content_i .first .first_con .first_box span {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(253, 207, 0);
  border-radius: 50%;
  color: rgb(35, 25, 23);
  font-weight: 900;
}

.startup .startup_content .startup_content_i .first .first_con .first_box h4 {
  font-size: 28px;
  margin: 15px 0px;
}
.startup .startup_content .startup_content_i .first .first_con .first_box p {
  text-align: center;
}

.startup .startup_content .startup_content_i .taste .taste_con {
  display: flex;
  gap: 30px;
  width: 100%;
  justify-content: center;
}
.startup .startup_content .startup_content_i .taste .taste_con .taste_box {
  flex: 1;
  height: 490px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  gap: 20px;
  border-radius: 20px;
}
.startup .startup_content .startup_content_i .taste .taste_con .taste_box h4 {
  font-size: 30px;
}
.startup .startup_content .startup_content_i .taste .taste_con .taste_box p {
  text-align: center;
  font-size: 17px;
}

.startup .startup_content .startup_content_i .taste .taste_con .box1 {
  background-image: url("./bhc/b1.png");
}
.startup .startup_content .startup_content_i .taste .taste_con .box2 {
  background-image: url("./bhc/b2.png");
}
.startup .startup_content .startup_content_i .taste .taste_con .box3 {
  background-image: url("./bhc/b3.png");
}

@media screen and (max-width: 680px) {
  .startup .startup_content .startup_content_i .first .first_con {
    grid-template-columns: 1fr;
  }

  .startup .startup_content .startup_content_i .taste .taste_con {
    display: block;
  }
  .startup .startup_content .startup_content_i .taste .taste_con .taste_box {
    height: 500px;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 380px;
  }
  .startup .startup_content .startup_content_i .sec > h3 .startup_br {
    display: block;
  }
}

/* 푸터 */

footer {
  padding: 100px 16px;
  background-color: rgb(35, 25, 23);
  color: rgb(182, 182, 182);
  font-weight: 500;
}

footer .footer_i {
  max-width: 1200px;
  margin: 0 auto;
}

footer .footer_i .fnb {
  display: flex;
  gap: 25px;
  margin-bottom: 50px;
  flex-wrap: wrap;
}
footer .footer_i .foot_content {
  display: flex;
  justify-content: space-between;
}

footer .footer_i .foot_content img {
  margin-bottom: 50px;
  width: 200px;
}
footer .footer_i .foot_content .foot_info {
  line-height: 30px;
}

footer .footer_i .foot_content .foot_info .mobile {
  display: none;
}
footer .footer_i .foot_content .foot_info .copy {
  margin-top: 40px;
}

footer .footer_i .foot_content .foot_site {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 20px;
  align-items: flex-end;
}
footer .footer_i .foot_content .foot_site .foot_sns {
  display: flex;
  gap: 20px;
}

footer .footer_i .foot_content .foot_site .foot_select {
  font-size: 18px;
  color: rgb(94, 94, 94);
  padding: 18px 20px;
  width: 250px;
  font-weight: 500;
}

@media screen and (max-width: 680px) {
  footer .footer_i .foot_content {
    flex-direction: column;
  }
  footer .footer_i .foot_content .foot_site {
    gap: 20px;
    margin-top: 50px;
  }
  footer .footer_i .foot_content .foot_info .mobile {
    display: block;
  }
}
